<section class="news-area">
    <div class="container">
        <div class="row mb-4">
            <div class="d-md-flex justify-content-md-between align-items-center" style="width: 100%;">
                <h2 class="mb-2 mb-md-0">Eduport Latest News</h2>
                <div><span class="me-2">Want to read
                        more?</span><a href="javascript:void(0);" class="btn btn-sm btn-primary-soft mb-0">Go here<i
                            class="fas fa-angle-right ms-2"></i></a></div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card bg-transparent">
                    <div class="overflow-hidden rounded-3"><img src="assets/images/events/02.jpg" alt="Card image"
                            class="card-img">
                        <div class="bg-overlay bg-dark opacity-4"></div>
                        <div class="card-img-overlay d-flex align-items-start flex-column p-3"><a
                                class="tag-btn">Student life</a></div>
                    </div>
                    <div class="card-body px-3">
                        <h5 class="card-title"><a href="javascript:void(0);">Student Loan Survey: Many Owe $50K-plus</a>
                        </h5>
                        <p class="text-truncate-2"> Affronting imprudence do he he
                            everything. Offered chiefly farther of my no colonel shyness. Such on help ye some door if
                            in. Laughter proposal laughing any son law consider. Needed except up piqued an. </p>
                        <div class="d-flex justify-content-between">
                            <h6 class="mb-0"><a href="javascript:void(0);">Frances Guerrero</a></h6><span
                                class="small">30M Ago</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <div class="row g-4">
                    <div class="col-lg-7">
                        <div class="card bg-light p-3 mb-4">
                            <div class="card-body"><a href="javascript:void(0);" class="tag-btn">Research</a>
                                <h5 class="card-title"><a href="javascript:void(0);">How to make a college list</a></h5>
                                <p> Prospective students should start broadly and then
                                    narrow their list down to colleges that best fit their needs, experts say.Yet
                                    remarkably appearance get him his projection. </p>
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0"><a href="javascript:void(0);">Louis Crawford</a></h6><span
                                        class="small">12H Ago</span>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-transparent">
                            <div class="overflow-hidden rounded-3"><img src="assets/images/events/01.jpg"
                                    alt="Card image" class="card-imgp">
                                <div class="bg-overlay bg-dark opacity-4"></div>
                                <div class="card-img-overlay d-flex align-items-start flex-column p-3"><a
                                        href="javascript:void(0);" class="tag-btn">Student story</a></div>
                            </div>
                            <div class="card-body px-3">
                                <h5 class="card-title"><a href="javascript:void(0);">Campus Support for First-Year
                                        Students</a></h5>
                                <p class="text-truncate-2"> Prospective students should
                                    start broadly and then narrow their list </p>
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0"><a href="javascript:void(0);">Lori Stevens</a></h6><span
                                        class="small">3M Ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card bg-transparent">
                            <div class="overflow-hidden rounded-3"><img src="assets/images/events/03.jpg"
                                    alt="course image" class="card-img-top">
                                <div class="bg-overlay bg-dark opacity-2 rounded-2"></div>
                                <div class="card-img-overlay d-flex align-items-start flex-column p-3"><a
                                        class="tag-btn">Covid-19</a></div>
                            </div>
                            <div class="card-body px-3">
                                <h5 class="card-title"><a href="javascript:void(0);">Covid-19 and the college
                                        experienced</a></h5>
                                <p> Rooms oh fully taken by worse do. Points afraid but may
                                    end law.Points afraid but may end law. </p>
                                <div class="d-flex justify-content-between">
                                    <h6 class="mb-0"><a href="javascript:void(0);">Amanda Reed</a></h6><span
                                        class="small">July 21, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>