
<div class="ms-wizard-container">

  <div class="ms-wizard-header">
    <div class="ms-wizard-title"><b>Soru 1</b></div>
    <div class="ms-wizard-progress">
      <div class="ms-progress-text">0% Tamamlandı</div>
      <div class="ms-progress-bar-bg">
        <div class="ms-progress-bar-fill" style="width: 0%;"></div>
      </div>
    </div>
  </div>

  <div class="ms-wizard-question">
     {{currentStep.description}}
  </div>

  <div class="ms-wizard-required">
    Bu soruyu yanıtlaman gerekmektedir
  </div>

    <div class="ms-wizard-cards" #cardContainer>
    <button class="nav-btn left" (click)="previous()">❮</button>

      <ul class="psds-carousel__track">
        <li class="psds-carousel__item m-5">      
            <button *ngFor="let opt of currentStep.options"
               class="ms-option-button"
               [class.ms-option-active]="opt.selected" (click)="selectOption(currentStep, opt)">
                <img [src]="opt.icon" alt="Timer Icon" class="ms-option-icon" />
                <b class="ms-option-label">{{opt.label}}</b>
              </button> 
        </li>
      </ul>
      <button class="nav-btn right"  (click)="next()">❯</button>

  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div class="mx-2 ms-wizard-step-item-active"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
    <div class="mx-2 ms-wizard-step-item"></div>
  </div>
</div>
