
# Visual Studio & Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.cache

# Build Output
bin/
obj/
out/

# Packages
*.nupkg
packages/
!packages/repositories.config

# Logs
*.log
logs/

# User Secrets (Local Configurations)
secrets.json
# appsettings.Development.json

# Database & Migrations
*.db
*.sqlite

# Docker & Kubernetes
.dockerignore
# docker-compose.override.yml

# .NET Debugging
*.pdb
*.lock.json
.DS_Store
=======
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/postgres/examdata
/postgres/examdata*

/ui/node_modules
/ui/dist
/ui/.angular/cache
/ui/.vscode
/ui/.idea

minio-data/
pgadmin-data/

/question-detector/data/labels
/question-detector/data/answers/*
!/question-detector/data/answers/runs
/question-detector/data/answers-v1
/question-detector/data/crops
/question-detector/data/images
/question-detector/data/questions/*
!/question-detector/data/questions/runs
/question-detector/data/venv/
/question-detector/data/venv/lib/python3.8/site-packages
/question-detector/.tmp.driveupload
/question-detector/.tmp.drivedownload

/rabbitmq