
# Visual Studio & Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.cache

# Build Output
bin/
obj/
out/

# Packages
*.nupkg
packages/
!packages/repositories.config

# Logs
*.log
logs/

# User Secrets (Local Configurations)
secrets.json
appsettings.Development.json

# Database & Migrations
*.db
*.sqlite

# Docker & Kubernetes
.dockerignore
docker-compose.override.yml

# .NET Debugging
*.pdb
*.lock.json
.DS_Store
=======
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

/postgres/examdata

/ui/node_modules
/ui/dist
/ui/.angular/cache
/ui/.vscode
/ui/.idea

minio-data/

/question-detector/app/data/labels
/question-detector/app/data/answers
/question-detector/app/data/crops
/question-detector/app/data/images
/question-detector/app/data/questions
/question-detector/app/venv/
/question-detector/app/venv/lib/python3.8/site-packages
