<div class="education-banner-area">
    <div class="container">
        <div class="row justify-content-center align-items-center g-5">
            <div class="col-lg-6 col-md-12">
                <div class="education-banner-content">
                    <h1>Every Course, Every Skill — One <span>Powerful Platform.<img src="assets/images/banner/line.png"
                                alt="image"></span></h1>
                    <p>Hedef Okul is your all-in-one online education platform—built for
                        students, instructors, and institutions to thrive in a connected learning world.</p>
                    <button mat-flat-button color="primary">
                        Explore Courses
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="education-banner-image"><img src="assets/images/banner/teacher.png" alt="image">
                    <div class="mesh-grad"><img src="assets/images/banner/mesh-grad.png" alt="image"></div>
                    <div class="trust-review"><span class="sub">Review on</span>
                        <h5><img src="assets/images/banner/star.svg" alt="star"> Trustpilot </h5>
                        <ul class="list">
                            <li><img src="assets/images/banner/star2.svg" alt="star2"></li>
                            <li><img src="assets/images/banner/star2.svg" alt="star2"></li>
                            <li><img src="assets/images/banner/star2.svg" alt="star2"></li>
                            <li><img src="assets/images/banner/star2.svg" alt="star2"></li>
                            <li><img src="assets/images/banner/star2.svg" alt="star2"></li>
                        </ul><span>4,500k+ Reviews</span>
                        <div class="arrow"><img src="assets/images/banner/arrow.png" alt="image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="education-banner-vector"><img src="assets/images/banner/vector.png" alt="image"></div>
    <div class="education-banner-shape1"><img src="assets/images/banner/shape1.png" alt="image"></div>
    <div class="education-banner-shape2"><img src="assets/images/banner/shape2.png" alt="image"></div>
    <div class="education-banner-shape3"><img src="assets/images/banner/shape3.png" alt="image"></div>
    <div class="education-banner-shape4"><img src="assets/images/banner/shape4.png" alt="image"></div>
</div>