<app-navbar></app-navbar>

<main>
  <app-education-banner></app-education-banner>

  <app-funfacts></app-funfacts>

  <app-categories></app-categories>

  <app-landing-courses></app-landing-courses>

  <app-partners></app-partners>

  <app-how-it-works></app-how-it-works>

  <app-overview></app-overview>

  <app-edu-blog></app-edu-blog>

  <app-about-us></app-about-us>

  <app-faq></app-faq>

  <app-pricing></app-pricing>

  <app-landing-footer></app-landing-footer>


  <!-- <app-education-about></app-education-about>

    <app-education-fun></app-education-fun>

    <app-education-categories></app-education-categories>

    <app-education-courses></app-education-courses>

    <app-education-instructor></app-education-instructor>

    <app-education-blog></app-education-blog> -->
</main>

<!-- <app-footer></app-footer>

<app-back-to-top></app-back-to-top>  -->