
   
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" class="flex-row">
          
                <mat-form-field appearance="outline" >
                  <mat-label>Kitap</mat-label>
                  <mat-select formControlName="bookId" required (selectionChange)="onBookChange($event.value)">
                    @for ( book of books ; track book.id ) {
                      <mat-option [value]="book.id">
                        {{ book.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                  <mat-label>Kitap Testi</mat-label>
                  <mat-select formControlName="bookTestId" required>
                    @for ( bt of bookTests ; track bt.id ) {
                      <mat-option [value]="bt.id">
                        {{ bt.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                  
                <mat-form-field appearance="outline">
                    <mat-label>Test</mat-label>
                    <input matInput formControlName="testId" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
                        <mat-option *ngFor="let worksheet of testList" [value]="worksheet">
                            <div class="search-item">
                              <!-- <app-worksheet-card [type]="'badge'" [size]="'25px'" [test]="worksheet"> </app-worksheet-card> -->
                            <span>{{ worksheet.name }} - {{ worksheet.subtitle }} </span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
              <!-- 🟢 Ders Seçimi -->
              <label for="subject">Ders</label>
              <select id="subject" formControlName="subjectId" (change)="onSubjectChange()" class="form-column-max-250 mh-50">
                @for ( subject of subjects ; track subject.id ) {
                  <option [value]="subject.id">{{ subject.name }}</option>
                }
              </select>
  
              <!-- 🟢 Konu Seçimi (Ders seçilmeden disabled olacak) -->
              <label for="topic">Konu</label>
              <select id="topic" formControlName="topicId" (change)="onTopicChange()"  class="form-column-max-250  mh-50">
                  @for ( topic of topics ; track topic.id ) {
                    <option [value]="topic.id">{{ topic.name }}</option>
                  }
              </select>
  
              <!-- 🟢 Alt Konu Seçimi (Konu seçilmeden disabled olacak) -->
              <!-- <label for="subTopic">Alt Konu</label>
              <select id="subTopic" formControlName="subtopicId">
                  @for ( subTopic of subTopics ; track subTopic.id ) {
                    <option [value]="subTopic.id">{{ subTopic.name }}</option>
                  }
              </select> -->
  
          
          
          
            <div class="button-group">
              <button mat-raised-button color="primary" class="full-width" type="submit">
                Kaydet
              </button>
        
              <button mat-raised-button color="primary" class="full-width" type="button" (click)="onSaveAndNew()">
                Kaydet ve Yeni Soru
              </button>
            </div>
        </form>
    <app-image-selector></app-image-selector>

