<div class="dashboard-section">
  <app-section-header title="Atanmış Testler" icon="/icons/18.svg"></app-section-header>
  <ng-container *ngIf="loading(); else assignmentsContent">
    <p class="info">Atanmış testler yükleniyor...</p>
  </ng-container>

  <ng-template #assignmentsContent>
    <ng-container *ngIf="assignmentCards().length > 0; else noAssignments">
      <div class="list-container">
        <button *ngIf="canScrollLeft()" class="nav-btn left" type="button" (click)="handleLeftNavigation()">❮</button>
        <div class="cards hidden-scrollable" #assignmentContainer (scroll)="onAssignmentScroll()">
          <ul class="psds-carousel__track">
            <li
              class="psds-carousel__item m-5"
              style="flex-basis: 377.305px"
              *ngFor="let vm of assignmentCards(); trackBy: trackAssignment"
            >
              <app-worksheet-card [test]="vm.test" [assignment]="vm.assignment" (cardClick)="onCardClick(vm)">
              </app-worksheet-card>
              <div class="assignment-meta">
                <span class="due" *ngIf="getDueLabel(vm.assignment) as dueLabel">{{ dueLabel }}</span>
              </div>
            </li>
          </ul>
        </div>
        <button *ngIf="canScrollRight()" class="nav-btn right" type="button" (click)="handleRightNavigation()">
          ❯
        </button>
      </div>
    </ng-container>
    <ng-template #noAssignments>
      <p class="info">Aktif atanmış test bulunmuyor.</p>
    </ng-template>
  </ng-template>

  <ng-container *ngIf="error() as errorMessage">
    <p class="error">{{ errorMessage }}</p>
  </ng-container>
</div>

<div class="dashboard-section">
  <app-section-header title="Öğrenme Aktivitesi" icon="/icons/28.svg"></app-section-header>

  <div class="heatmap-container">
    <ng-container *ngIf="!activityApiLoading(); else heatmapLoading">
      <ng-container *ngIf="!activityApiError(); else heatmapError">
        <ng-container *ngIf="activityDataFromApi().length > 0; else heatmapEmpty">
          <ng-container *ngIf="showActivitySummary()">
            <div class="activity-summary">
              <div class="number-card-container" *ngIf="activityNumberCardData().length > 0">
                <ngx-charts-number-card
                  [view]="[900, 200]"
                  [scheme]="activityNumberCardScheme"
                  [results]="activityNumberCardData()"
                  [cardColor]="activityNumberCardColor"
                >
                </ngx-charts-number-card>
              </div>
            </div>
          </ng-container>
          <ngx-charts-heat-map
            [view]="[1200, 210]"
            [scheme]="activityColorScheme"
            [results]="activityDataFromApi()"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [gradient]="true"
            [xAxisTickFormatting]="activityXAxisTickFormatting"
            [tooltipText]="activityHeatmapTooltip"
          >
          </ngx-charts-heat-map>
          <div class="earned-badges-container">
            <h3 class="earned-badges-heading">Kazanılan Rozetler</h3>
            <ng-container *ngIf="badgeProgressLoading(); else badgesResolved">
              <p class="badges-state">Rozetler yükleniyor...</p>
            </ng-container>

            <ng-template #badgesResolved>
              <ng-container *ngIf="badgeProgressError(); else badgesList">
                <p class="badges-state error">Kazanılmış rozetler yüklenirken bir sorun oluştu.</p>
              </ng-container>
            </ng-template>

            <ng-template #badgesList>
              <ng-container *ngIf="earnedBadges().length > 0; else badgesEmpty">
                <div class="earned-badges-grid">
                  <div class="badge-icon" *ngFor="let badge of earnedBadges(); trackBy: trackBadge">
                    <img [src]="badge.iconUrl" [alt]="badge.name" />
                    <div class="badge-tooltip" *ngIf="badge.name || badge.description">
                      <span class="badge-tooltip-name">{{ badge.name }}</span>
                      <span class="badge-tooltip-desc" *ngIf="badge.description">{{ badge.description }}</span>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-template>

            <ng-template #badgesEmpty>
              <p class="badges-state">Henüz kazanılmış rozet bulunmuyor.</p>
            </ng-template>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-template #heatmapLoading>
      <p class="heatmap-state">Aktivite verisi yükleniyor...</p>
    </ng-template>

    <ng-template #heatmapError>
      <p class="heatmap-state error">Aktivite verisi alınırken bir hata oluştu.</p>
    </ng-template>

    <ng-template #heatmapEmpty>
      <p class="heatmap-state">Son bir yıl için aktivite verisi bulunamadı.</p>
    </ng-template>
  </div>
</div>
