<mat-toolbar color="primary">
    <span class="app-title">Sınav Yönetimi</span>
  
    <span class="spacer"></span>
  
    <button mat-button (click)="navigateTo('/question')">
      <mat-icon>add_circle</mat-icon> Soru Ekle
    </button>
  
    <button mat-button (click)="navigateTo('/tests')">
      <mat-icon>list</mat-icon> Testler
    </button>
  
    <div class="profile-menu" mat-button [matMenuTriggerFor]="menu" (click)="navigateTo('/student-profile')">
      <img [src]="userAvatarUrl" class="preview-image" alt="Profile" />
      <span class="username">Mustafa</span>
    </div>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Çıkış Yap</button>
    </mat-menu>
  </mat-toolbar>
  