@if(testInstance) {
<mat-card class="test-container">
    <!-- Header: Test Bilgileri -->
    


  
    <!-- Soru Gösterimi -->
    <div class="question-container">     
      <!-- 🟢 Soru Başlığı ve Resmi -->
       @if(testInstance.testInstanceQuestions[currentIndex()].question.isCanvasQuestion) {
        <app-question-canvas-view [questionRegion]="regions()[currentIndex()]" 
        [selectedChoice]="selectedChoices().get(regions()[currentIndex()].id)"        
        (choiceSelected)="selectChoice($event)"
        (answerOpened)="openAnswer($event)"
        [correctAnswerVisible]="correctAnswerVisible"
        ></app-question-canvas-view>
       } @else {
          <app-passage-card [passage]="testInstance.testInstanceQuestions[currentIndex()].question.passage"></app-passage-card>
          <app-question-lite-view
            [question]="testInstance.testInstanceQuestions[currentIndex()].question" 
            [selectedAnswerId]="testInstance.testInstanceQuestions[currentIndex()].selectedAnswerId"    
            [isPracticeTest]="testInstance.isPracticeTest"   
            (answerSelected)="selectAnswer($event)"
            (answerOpened)="openAnswer($event)"
            [correctAnswerVisible]="correctAnswerVisible">
          </app-question-lite-view>
       }
    </div>
  
    <!-- Navigasyon Butonları -->
    <div class="navigation-buttons">
      <button mat-button color="primary" class="prev-button" (click)="prevQuestion()" [disabled]="currentIndex() === 0">
        <img src="previousPage.svg" width="24" height="24" alt="icon">
      </button>
      <button mat-button color="accent" class="next-button"  (click)="nextQuestion()" [disabled]="currentIndex() === testInstance.testInstanceQuestions.length - 1">
        <img src="nextPage.svg" width="24" height="24" alt="icon">
      </button>
      
    </div>
    <mat-toolbar class="test-header bt-1 m-5" >  
      <span class="test-title">{{ testInstance.testName }}</span>
      <span class="test-progress">{{ currentIndex() + 1 }}/{{ testInstance.testInstanceQuestions.length }}</span>
      <span class="test-timer">Geçen Süre : {{ formattedTime }}</span>
      <span class="test-timer">Soru Süresi : {{ formattedQuestionTime }}</span>
      @if(showStopButton) {
        <button  mat-button color="warn" (click)="pauseTest()">Durdur</button>
      }
      
    </mat-toolbar>
  </mat-card>
  @if(currentIndex() === testInstance.testInstanceQuestions.length - 1) {
    <div class="m-5">
        <button mat-raised-button color="accent" class="finish-button" (click)="completeTest()">
          Sınavı Bitir
        </button>
    </div>
    }

   
}
<!-- Confetti Butonu -->

<!-- Modal İçin Şablon -->
<ng-template #spinWheelDialog>  
  <app-spin-wheel></app-spin-wheel>
  <button mat-button (click)="closeDialog()">Kapat</button>
</ng-template>
