<mat-card class="question-card" *ngIf="question">
    <div class="question-container">
     <!-- 🟢 Soru Resmi ve Metni -->
     <div class="question-content" *ngIf="question.passage && question.passage.text">
        <h2>{{ question.passage.text }}</h2>
        <img *ngIf="question.passage.imageUrl" [src]="question.passage.imageUrl" class="question-image" />
        <p *ngIf="question.passage.title" class="question-alt-text">{{ question.passage.title }}</p> <!-- Alt Text için özel stil -->
      </div>
      <!-- 🟢 Soru Resmi ve Metni -->
      <div class="question-content">
        <div class="question-text" [innerHTML]="question.text"></div>
        <img *ngIf="question.imageUrl" [src]="question.imageUrl" class="question-image" />
        <p *ngIf="question.subText" class="question-alt-text" [innerHTML]="question.subText"></p> <!-- Alt Text için özel stil -->
      </div>
  
      <div *ngIf="isPracticeTest">        
        <button mat-button (click)="showCorrectAnswer()">Sonucu Gör</button>    
        <div *ngIf="correctAnswerVisible || question.isExample" [innerHTML]="question.practiceCorrectAnswer"></div>
      </div>
    
      <!-- 🟢 Şıklar -->
      <div *ngIf="!isPracticeTest" class="answers-container">
        <div *ngFor="let answer of question.answers; let i = index" class="answer-box" (click)="selectAnswer(i)"
                [ngClass]="{ 'selected-answer': selectedAnswerIndex === i }">
          <span class="answer-label">{{ getAnswerLabel(i) }}</span>
          <button mat-raised-button class="answer-btn"
            [ngClass]="{ 'correct': isCorrect(i), 'wrong': isWrong(i) }"
            >
            <img *ngIf="answer.imageUrl" [src]="answer.imageUrl" class="answer-image" />
            <span>{{ answer.text }}</span>
          </button>
        </div>
      </div>
    </div> 
  </mat-card>
  