/*! CSS Used from: Embedded */
*,*:before,*:after{box-sizing:border-box;}
/*! CSS Used from: https://angular.envytheme.com/aluno/styles-PRYNRIV6.css ; media=all */
@media all{
*,*:before,*:after{box-sizing:border-box;}
h3{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2;color:var(--bs-heading-color);}
h3{font-size:calc(1.3rem + .6vw);}
@media (min-width: 1200px){
h3{font-size:1.75rem;}
}
p{margin-top:0;margin-bottom:1rem;}
a{color:rgba(var(--bs-link-color-rgb),var(--bs-link-opacity, 1));text-decoration:underline;}
a:hover{--bs-link-color-rgb:var(--bs-link-hover-color-rgb);}
img,svg{vertical-align:middle;}
label{display:inline-block;}
button{border-radius:0;}
button:focus:not(:focus-visible){outline:0;}
input,button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
button{text-transform:none;}
button,[type=submit]{-webkit-appearance:button;}
button:not(:disabled),[type=submit]:not(:disabled){cursor:pointer;}
.container{--bs-gutter-x:1.5rem;--bs-gutter-y:
    // 0;width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-right:auto;margin-left:auto;}
@media (min-width: 576px){
.container{max-width:540px;}
}
@media (min-width: 768px){
.container{max-width:720px;}
}
@media (min-width: 992px){
.container{max-width:960px;}
}
@media (min-width: 1200px){
.container{max-width:1140px;}
}
@media (min-width: 1400px){
.container{max-width:1320px;}
}
.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(-1 * var(--bs-gutter-y));margin-right:calc(-.5 * var(--bs-gutter-x));margin-left:calc(-.5 * var(--bs-gutter-x));}
.row>*{flex-shrink:0;
    // width:100%;
    max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);}
.g-5{--bs-gutter-x:3rem;}
.g-5{--bs-gutter-y:3rem;}
@media (min-width: 768px){
.col-md-12{flex:0 0 auto;width:100%;}
}
@media (min-width: 992px){
.col-lg-6{flex:0 0 auto;width:50%;}
}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;font-weight:400;line-height:1.5;color:var(--bs-body-color);appearance:none;background-color:var(--bs-body-bg);background-clip:padding-box;border:var(--bs-border-width) solid var(--bs-border-color);border-radius:var(--bs-border-radius);transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion: reduce){
.form-control{transition:none;}
}
.form-control:focus{color:var(--bs-body-color);background-color:var(--bs-body-bg);border-color:#86b7fe;outline:0;box-shadow:0 0 0 .25rem #0d6efd40;}
.form-control::placeholder{color:var(--bs-secondary-color);opacity:1;}
.form-control:disabled{background-color:var(--bs-secondary-bg);opacity:1;}
.justify-content-center{justify-content:center!important;}
.align-items-center{align-items:center!important;}
p{margin-bottom:15px;line-height:1.7;color:var(--paragraphColor);font-family:var(--paragraphFontFamily);font-size:15px;}
p:last-child{margin-bottom:0;}
h3{color:var(--blackColor);font-weight:600;}
a{text-decoration:none;outline:0!important;color:var(--blackColor);transition:var(--transition);}
a:hover{color:var(--primaryColor);}
:focus{outline:0!important;}
img{max-width:100%;height:auto;}
.ptb-140{padding-top:140px;padding-bottom:140px;}
.default-btn{display:inline-flex;gap:15px;align-items:center;justify-content:center;background-color:var(--primaryColor);color:var(--whiteColor);font-weight:500;padding:15px 25px;border-radius:5px;position:relative;overflow:hidden;z-index:0;transition:var(--transition);}
.default-btn svg{transition:var(--transition);}
.default-btn:after{content:"";position:absolute;top:0;left:-75%;width:50%;height:100%;background:linear-gradient(120deg,transparent,rgba(255,255,255,.4),transparent);transform:skew(-25deg);transition:.75s;z-index:1;}
.default-btn:hover{background-color:var(--secondaryColor);color:var(--whiteColor);}
.default-btn:hover:after{left:125%;}
.default-btn:hover svg{animation:animate__jello 1s;animation-name:jello;animation-duration:1s;}
@media only screen and (max-width: 767px){
p{font-size:14px;}
.ptb-140{padding-top:50px;padding-bottom:50px;}
.default-btn{padding:11px 20px;font-size:15px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
.ptb-140{padding-top:100px;padding-bottom:100px;}
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.ptb-140{padding-top:100px;padding-bottom:100px;}
}
}
/*! CSS Used from: Embedded */
.profile-authentication-area{border-top:1px solid #eeeeee;overflow:hidden;}
.profile-authentication-inner{background-color:#e9f1fe;padding:60px 50px;border-radius:15px;}
.profile-authentication-inner   .content{margin-bottom:35px;}
.profile-authentication-inner   .content   h3{font-size:28px;font-weight:500;margin-bottom:15px;}
.profile-authentication-inner   .content   p{margin-bottom:0;}
.profile-authentication-inner   form   .form-group{margin-bottom:25px;}
.profile-authentication-inner   form   .form-group   label{display:block;margin-bottom:8px;color:var(--blackColor);font-weight:600;}
.profile-authentication-inner   form   .form-group   .form-control{display:inline-block;height:57px;background-color:var(--whiteColor);color:var(--bodyColor);outline:0;box-shadow:unset;border:1px solid #A4BDE7;border-radius:5px;padding:15px 20px;transition:var(--transition);font-size:15px;}
.profile-authentication-inner   form   .form-group   .form-control::placeholder{color:var(--bodyColor);transition:var(--transition);}
.profile-authentication-inner   form   .form-group   .form-control:focus{border:1px solid var(--primaryColor);}
.profile-authentication-inner   form   .form-group   .form-control:focus::placeholder{color:transparent;}
.profile-authentication-inner   form   .options{display:flex;gap:10px;align-items:center;justify-content:space-between;}
.profile-authentication-inner   form   .options   input[type=checkbox]{margin-right:8px;accent-color:var(--primaryColor);}
.profile-authentication-inner   form   .options   a{color:var(--primaryColor);}
.profile-authentication-inner   form   .options   a:hover{color:var(--secondaryColor);}
.profile-authentication-inner   form   .authentication-btn{margin-top:50px;}
.profile-authentication-inner   form   .authentication-btn   .default-btn{border:none;}
.profile-authentication-inner   .bottom-text{margin-top:35px;}
.profile-authentication-inner   .bottom-text   span   a{color:var(--primaryColor);}
.profile-authentication-inner   .bottom-text   span   a:hover{color:var(--secondaryColor);}
@media only screen and (max-width: 767px){
.profile-authentication-inner{padding:20px;}
}
/*! CSS Used keyframes */
@-webkit-keyframes jello{0%,11.1%,to{-webkit-transform:translateZ(0);transform:translateZ(0);}22.2%{-webkit-transform:skewX(-12.5deg) skewY(-12.5deg);transform:skew(-12.5deg) skewY(-12.5deg);}33.3%{-webkit-transform:skewX(6.25deg) skewY(6.25deg);transform:skew(6.25deg) skewY(6.25deg);}44.4%{-webkit-transform:skewX(-3.125deg) skewY(-3.125deg);transform:skew(-3.125deg) skewY(-3.125deg);}55.5%{-webkit-transform:skewX(1.5625deg) skewY(1.5625deg);transform:skew(1.5625deg) skewY(1.5625deg);}66.6%{-webkit-transform:skewX(-.78125deg) skewY(-.78125deg);transform:skew(-.78125deg) skewY(-.78125deg);}77.7%{-webkit-transform:skewX(.390625deg) skewY(.390625deg);transform:skew(.390625deg) skewY(.390625deg);}88.8%{-webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);transform:skew(-.1953125deg) skewY(-.1953125deg);}}
@-webkit-keyframes jello{0%,11.1%,to{-webkit-transform:translateZ(0);transform:translateZ(0);}22.2%{-webkit-transform:skewX(-12.5deg) skewY(-12.5deg);transform:skew(-12.5deg) skewY(-12.5deg);}33.3%{-webkit-transform:skewX(6.25deg) skewY(6.25deg);transform:skew(6.25deg) skewY(6.25deg);}44.4%{-webkit-transform:skewX(-3.125deg) skewY(-3.125deg);transform:skew(-3.125deg) skewY(-3.125deg);}55.5%{-webkit-transform:skewX(1.5625deg) skewY(1.5625deg);transform:skew(1.5625deg) skewY(1.5625deg);}66.6%{-webkit-transform:skewX(-.78125deg) skewY(-.78125deg);transform:skew(-.78125deg) skewY(-.78125deg);}77.7%{-webkit-transform:skewX(.390625deg) skewY(.390625deg);transform:skew(.390625deg) skewY(.390625deg);}88.8%{-webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);transform:skew(-.1953125deg) skewY(-.1953125deg);}}
@keyframes jello{0%,11.1%,to{-webkit-transform:translateZ(0);transform:translateZ(0);}22.2%{-webkit-transform:skewX(-12.5deg) skewY(-12.5deg);transform:skew(-12.5deg) skewY(-12.5deg);}33.3%{-webkit-transform:skewX(6.25deg) skewY(6.25deg);transform:skew(6.25deg) skewY(6.25deg);}44.4%{-webkit-transform:skewX(-3.125deg) skewY(-3.125deg);transform:skew(-3.125deg) skewY(-3.125deg);}55.5%{-webkit-transform:skewX(1.5625deg) skewY(1.5625deg);transform:skew(1.5625deg) skewY(1.5625deg);}66.6%{-webkit-transform:skewX(-.78125deg) skewY(-.78125deg);transform:skew(-.78125deg) skewY(-.78125deg);}77.7%{-webkit-transform:skewX(.390625deg) skewY(.390625deg);transform:skew(.390625deg) skewY(.390625deg);}88.8%{-webkit-transform:skewX(-.1953125deg) skewY(-.1953125deg);transform:skew(-.1953125deg) skewY(-.1953125deg);}}