/*! CSS Used from: Embedded */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*! CSS Used from: https://angular.envytheme.com/aluno/styles-PRYNRIV6.css ; media=all */
@media all {

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    h3,
    h2 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        color: var(--bs-heading-color);
    }

    h2 {
        font-size: calc(1.325rem + .9vw);
    }

    @media (min-width: 1200px) {
        h2 {
            font-size: 2rem;
        }
    }

    h3 {
        font-size: calc(1.3rem + .6vw);
    }

    @media (min-width: 1200px) {
        h3 {
            font-size: 1.75rem;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    ul {
        padding-left: 2rem;
    }

    ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a {
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
        text-decoration: underline;
    }

    a:hover {
        --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
    }

    img,
    svg {
        vertical-align: middle;
    }

    .container {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1320px;
        }
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
    }

    .row>* {
        flex-shrink: 0;
        // width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

    .g-4 {
        --bs-gutter-x: 1.5rem;
    }

    .g-4 {
        --bs-gutter-y: 1.5rem;
    }

    .g-5 {
        --bs-gutter-x: 3rem;
    }

    .g-5 {
        --bs-gutter-y: 3rem;
    }

    @media (min-width: 768px) {
        .col-md-6 {
            flex: 0 0 auto;
            width: 50%;
        }

        .col-md-12 {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    @media (min-width: 992px) {
        .col-lg-5 {
            flex: 0 0 auto;
            width: 41.66666667%;
        }

        .col-lg-6 {
            flex: 0 0 auto;
            width: 50%;
        }

        .col-lg-7 {
            flex: 0 0 auto;
            width: 58.33333333%;
        }
    }

    .justify-content-center {
        justify-content: center !important;
    }

    .align-items-center {
        align-items: center !important;
    }

    p {
        margin-bottom: 15px;
        line-height: 1.7;
        color: var(--paragraphColor);
        font-family: var(--paragraphFontFamily);
        font-size: 15px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    h2,
    h3 {
        color: var(--blackColor);
        font-weight: 600;
    }

    h3 a {
        color: var(--blackColor);
    }

    h3 a:hover {
        color: var(--primaryColor);
    }

    a {
        text-decoration: none;
        outline: 0 !important;
        color: var(--blackColor);
        transition: var(--transition);
    }

    a:hover {
        color: var(--primaryColor);
    }

    :focus {
        outline: 0 !important;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .pt-140 {
        padding-top: 140px;
    }

    .default-btn {
        display: inline-flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        background-color: var(--primaryColor);
        color: var(--whiteColor);
        font-weight: 500;
        padding: 15px 25px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        z-index: 0;
        transition: var(--transition);
    }

    .default-btn svg {
        transition: var(--transition);
    }

    .default-btn:after {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .4), transparent);
        transform: skew(-25deg);
        transition: .75s;
        z-index: 1;
    }

    .default-btn:hover {
        background-color: var(--secondaryColor);
        color: var(--whiteColor);
    }

    .default-btn:hover:after {
        left: 125%;
    }

    .default-btn:hover svg {
        animation: animate__jello 1s;
        animation-name: jello;
        animation-duration: 1s;
    }

    @media only screen and (max-width: 767px) {
        p {
            font-size: 14px;
        }

        .pt-140 {
            padding-top: 50px;
        }

        .default-btn {
            padding: 11px 20px;
            font-size: 15px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .pt-140 {
            padding-top: 100px;
        }
    }

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .pt-140 {
            padding-top: 100px;
        }
    }
}

/*! CSS Used from: Embedded */
.education-blog-area {
    overflow: hidden;
    background-color: var(--whiteColor);
}

.education-blog-content {
    max-width: 415px;
}

.education-blog-content .sub {
    font-weight: 500;
    color: var(--primaryColor);
    display: block;
    margin-bottom: 10px;
}

.education-blog-content h2 {
    font-size: 38px;
    margin-bottom: 25px;
    line-height: 1.3;
    max-width: 527px;
}

.education-blog-content h2 span {
    position: relative;
    z-index: 1;
}

.education-blog-content h2 span img {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: -1;
    transition: var(--transition);
    animation: animate__fadeInRight 2s;
    animation-name: fadeInRight;
    animation-duration: 2s;
}

.education-blog-content p {
    margin-bottom: 55px;
}

.education-blog-card .image {
    position: relative;
}

.education-blog-card .image a img {
    border-radius: 15px;
}

.education-blog-card .image .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whiteColor);
    width: 55px;
    height: 50px;
    position: absolute;
    right: 50px;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.education-blog-card .image .arrow-btn .shape1 {
    position: absolute;
    bottom: -1px;
    left: -28px;
    transform: rotate(180deg);
}

.education-blog-card .image .arrow-btn .shape1 svg {
    width: 30px;
    height: 30px;
    fill: var(--whiteColor);
}

.education-blog-card .image .arrow-btn .shape2 {
    position: absolute;
    bottom: -1px;
    right: -28px;
    transform: rotate(-90deg);
}

.education-blog-card .image .arrow-btn .shape2 svg {
    width: 30px;
    height: 30px;
    fill: var(--whiteColor);
}

.education-blog-card .lc-content {
    margin-top: 25px;
}

.education-blog-card .lc-content .tag-btn {
    display: inline-flex;
    padding: 5px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #eaf2ff;
    color: var(--primaryColor);
    font-size: 14px;
    font-weight: 500;
    transition: var(--transition);
    margin-bottom: 15px;
}

.education-blog-card .lc-content .tag-btn:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

.education-blog-card .lc-content h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 17px;
    line-height: 1.4;
}

.education-blog-card .lc-content .meta {
    display: flex;
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
}

.education-blog-card .lc-content .meta li {
    list-style-type: none;
    display: flex;
    gap: 7px;
    align-items: center;
    position: relative;
    margin-right: 30px;
}

.education-blog-card .lc-content .meta li span {
    font-size: 15px;
}

.education-blog-card .lc-content .meta li:before {
    position: absolute;
    content: "";
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background: #d9d9d9;
}

.education-blog-card .lc-content .meta li:last-child {
    margin-right: 0;
}

.education-blog-card .lc-content .meta li:last-child:before {
    display: none;
}

.education-blog-card .lc-content p {
    margin-bottom: 0;
}

.education-blog-card.wrap-style {
    margin-top: 55px;
}

@media only screen and (max-width: 767px) {
    .education-blog-content {
        max-width: 1050px;
    }

    .education-blog-content h2 {
        font-size: 28px;
        max-width: 1050px;
    }

    .education-blog-content p {
        margin-bottom: 25px;
    }

    .education-blog-card .lc-content h3 {
        font-size: 20px;
    }

    .education-blog-card.wrap-style {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .education-blog-content,
    .education-blog-content h2 {
        max-width: 1050px;
    }

    .education-blog-content p {
        margin-bottom: 25px;
    }

    .education-blog-card.wrap-style {
        margin-top: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .education-blog-area .g-5 {
        --bs-gutter-y: 1rem;
    }

    .education-blog-area .g-5 {
        --bs-gutter-x: 1rem;
    }
}

/*! CSS Used keyframes */
@-webkit-keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skew(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skew(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skew(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skew(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skew(-.78125deg) skewY(-.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skew(.390625deg) skewY(.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skew(-.1953125deg) skewY(-.1953125deg);
    }
}

@-webkit-keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skew(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skew(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skew(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skew(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skew(-.78125deg) skewY(-.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skew(.390625deg) skewY(.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skew(-.1953125deg) skewY(-.1953125deg);
    }
}

@keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skew(-12.5deg) skewY(-12.5deg);
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skew(6.25deg) skewY(6.25deg);
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skew(-3.125deg) skewY(-3.125deg);
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skew(1.5625deg) skewY(1.5625deg);
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skew(-.78125deg) skewY(-.78125deg);
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skew(.390625deg) skewY(.390625deg);
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skew(-.1953125deg) skewY(-.1953125deg);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}