<div class="education-categories-area ptb-140 ng-star-inserted">
    <div class="container">
        <div class="section-title">
            <h2>Top Course Categories <img src="assets/images/banner/line.png" alt="image"></h2>
            <p>Choose from industry-relevant topics curated by experts.</p>
        </div>
        <div class="row justify-content-center align-items-end g-4">
            <div class="col-lg-9 col-md-12">
                <div class="row justify-content-center g-4">
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card">
                            <div class="icon"><img src="assets/images/categories/icon1.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Data Science</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap2">
                            <div class="icon"><img src="assets/images/categories/icon2.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Tech &amp; Development</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap3">
                            <div class="icon"><img src="assets/images/categories/icon3.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Health &amp; Wellness</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap4">
                            <div class="icon"><img src="assets/images/categories/icon4.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Academic Tutoring</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap5">
                            <div class="icon"><img src="assets/images/categories/icon5.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Language Learning</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap2">
                            <div class="icon"><img src="assets/images/categories/icon6.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Personal Growth</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap3">
                            <div class="icon"><img src="assets/images/categories/icon7.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Marketing &amp; SEO</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap4">
                            <div class="icon"><img src="assets/images/categories/icon8.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Science &amp; Research</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="education-categories-card wrap5">
                            <div class="icon"><img src="assets/images/categories/icon9.svg" alt="icon"></div>
                            <div class="title">
                                <h3><a routerlink="/courses" href="/aluno/courses">Design &amp; Creativity</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="education-categories-right"><a routerlink="/course-categories" class="circle-box"
                        href="/aluno/course-categories"><span>View All <br>
                            Categories</span><svg xmlns="http://www.w3.org/2000/svg" width="18" height="14"
                            viewBox="0 0 18 14" fill="none">
                            <path opacity="0.5" d="M16.25 6.75V7.25H1.25V6.75H16.25Z" fill="white" stroke="white">
                            </path>
                            <path d="M10.75 1L16.75 7L10.75 13" stroke="white" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg></a>
                    <div class="vector-wrap"><img src="assets/images/categories/vector.png" alt="image"></div>
                </div>
            </div>
        </div>
    </div>
</div>