<div class="container">
    <div class="course-container">
      <h1 class="course-title">{{exam.name}} - {{exam.subtitle}}</h1>
      <p class="course-subtitle">{{exam.gradeId}}. Sınıf</p>
      <p>{{exam.description}}</p>
      <div class="course-actions">
        <button mat-raised-button color="primary" (click)="StartTest(exam.id)">Testi Başlat</button>
        <button mat-icon-button ><mat-icon>bookmark</mat-icon></button>
        <button mat-icon-button><mat-icon>playlist_add</mat-icon></button>
        <button mat-icon-button (click)="editWorksheet(exam.id)"><mat-icon>edit</mat-icon>Düzenle</button>
      </div>
    </div>
    <div class="course-info">
      <h3>Course Info</h3>
      <div class="info-item"><span>Seviye</span><span>Başlangıç</span></div>
      <div class="info-item"><span>Oylama</span><span class="rating-stars">★★★★★ (45)</span></div>
      <div class="info-item"><span>Benim Oyum</span><span class="rating-stars">★★☆☆☆</span></div>
      <div class="info-item"><span>Süre</span><span>0h 39m</span></div>
      <div class="info-item"><span>Güncelleme Tarihi</span><span>Nov 2024</span></div>
      <!-- <div class="info-item"><span>Language</span><span>English</span></div> -->
    </div>
  </div>