<div class="container">
    <div class="course-container" *ngIf="exam">
      <h1 class="course-title">{{exam.name}} - {{exam.subtitle}}</h1>
      <p class="course-subtitle">{{exam.gradeId}}. Sınıf</p>
      <p>{{exam.description}}</p>
      <div class="course-actions">
        <ng-container *appIsStudent>
          <button *ngIf="!exam.instance" mat-raised-button color="primary" (click)="StartTest(exam.id)">Testi Başlat</button>
          <button *ngIf="instanceStarted" mat-raised-button color="primary" (click)="StartTest(exam.id)">Teste Devam Et</button>
        </ng-container>
        <button mat-raised-button ><mat-icon>bookmark</mat-icon>Favori</button>
        <ng-container *appIsTeacher>
          <button mat-raised-button (click)="editWorksheet(exam.id)"><mat-icon>edit</mat-icon>Düzenle</button>
          <button mat-raised-button color="primary" type="button" (click)="navigateToQuestionCanvas()"><mat-icon>playlist_add</mat-icon>Soru Ekleme Adımına Geç</button>
        </ng-container>
      </div>
      <div *ngIf="instanceCompleted" >
        <h1 class="course-title">Sonuç</h1>
        <app-question-navigator [questions]="questions" (questionSelected)="questionSelected($event)"></app-question-navigator>  
        <app-question-canvas-view [questionRegion]="regions()[currentIndex()]" 
          [selectedChoice]="selectedChoices().get(regions()[currentIndex()].id)"
          [mode]="'result'"  
          [correctChoice]="correctChoices().get(regions()[currentIndex()].id)"
        ></app-question-canvas-view>
      </div>
    </div>
    <div class="course-info" *ngIf="exam">
      <h3>Course Info</h3>
      <div class="info-item"><span>Seviye</span><span>Başlangıç</span></div>
      <div class="info-item"><span>Oylama</span><span class="rating-stars">★★★★★ (45)</span></div>
      <div class="info-item"><span>Benim Oyum</span><span class="rating-stars">★★☆☆☆</span></div>
      <div class="info-item"><span>Süre</span><span>0h 39m</span></div>
      <div class="info-item"><span>Güncelleme Tarihi</span><span>Nov 2024</span></div>
      
      <div class="info-item"><span>Testi Çözen Öğrenci Sayısı</span><span>{{exam.instanceCount}}</span></div>
      
    </div>
  </div>