<header class="navbar-area education-navbar-area">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-xl">
            <a class="navbar-brand" href="/">
                <img src="assets/images/banner/logo.svg" alt="logo">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Courses</a></li>
                </ul>
                <div class="others-options">
                    <a href="/login" class="default-btn">Login</a>
                </div>
            </div>
        </nav>
    </div>
</header>