<div class="education-partner-area ptb-140 ng-star-inserted">
    <div class="container">
        <div class="education-partner-title"><span>Trusted by
                Over 10 Million Learners and Leading Global Companies</span></div>
        <div class="row justify-content-center g-4 education-partner-lists">
            <div class="col">
                <div class="education-partner-item"><img src="assets/images/partner/partner1.png" alt="image"></div>
            </div>
            <div class="col">
                <div class="education-partner-item"><img src="assets/images/partner/partner2.png" alt="image"></div>
            </div>
            <div class="col">
                <div class="education-partner-item"><img src="assets/images/partner/partner3.png" alt="image"></div>
            </div>
            <div class="col">
                <div class="education-partner-item"><img src="assets/images/partner/partner4.png" alt="image"></div>
            </div>
            <div class="col">
                <div class="education-partner-item"><img src="assets/images/partner/partner5.png" alt="image"></div>
            </div>
        </div>
    </div>
</div>