<div class="container" [ngClass]="selectionMode()">
    <input type="file" (change)="handleFilesInput2($event)" multiple accept="image/*">
    <button mat-raised-button color="primary" (click)="toggleSelectionMode('passage')">📜 Passage Seç</button>
    <button mat-raised-button color="primary" (click)="toggleSelectionMode('question')">Soru Seç</button>
    <button mat-raised-button color="primary" (click)="lockSelectionMode('answer')">Disable Modes</button>
    <button mat-raised-button color="primary" (click)="toggleAlignMode()">Hizalamayı {{!autoAlign() ? 'Aç' : 'Kapat'}}</button>
    <!-- <button mat-raised-button color="primary" (click)="toggleSelectionMode('answer')" [disabled]="regions().length === 0">Şık Seç</button> -->
    <button mat-raised-button color="primary" (click)="downloadRegionsLite()" [disabled]="regions().length === 0">Koordinatları İndir</button>
    <button mat-raised-button color="primary" (click)="predict()">Predict</button>
    <button mat-raised-button color="primary" (click)="sendToFix()">Sent To Fix</button>
    <button mat-raised-button color="primary" (click)="sendToFixForAnswer()">Sent To Fix For Answer</button>
    <button mat-raised-button color="primary" (click)="nextImage()">Next Image</button>
    
    <div *ngIf="imageSrc()" class="canvas-container">
      <canvas #canvas (mousedown)="startSelection($event)" (mousemove)="onMouseMove($event)" (mouseup)="endSelection($event)"></canvas>
    </div>
  
    <div class="regions-list">
      <h3>Seçilen Bölgeler:</h3>
      <ul class="regions">
        <li *ngFor="let region of regions(); let i = index">
          {{ region.name }} 
          <!-- - X: {{ region.x }}, Y: {{ region.y }}, G: {{ region.width }}, Y: {{ region.height }} -->
          <!-- ✅ Örnek soru checkbox -->
            <label>
                <input type="checkbox" [checked]="isExample(region.name)" (change)="toggleExampleMode(region.name)"> Örnek Soru
            </label>
             
          <!-- 📝 Quill Editörü (Sadece Örnek Soru Seçiliyse Açılacak) -->
            <quill-editor *ngIf="isExample(region.name)" [ngModel]="exampleAnswers.get(region.name)" (ngModelChange)="onTextChanged(region.name, $event)">
            </quill-editor>
          <ul>
            <li *ngFor="let answer of region.answers; let j = index">              
              <!-- - X: {{ answer.x }}, Y: {{ answer.y }}, G: {{ answer.width }}, Y: {{ answer.height }}               -->
              <button class="choice-btn" (click)="setCorrectAnswer(i, j)">
                {{ answer.label }}  {{ answer.isCorrect ? "✅" : "" }}
              </button>          
              <button (click)="removeAnswer(i, j)">❌ Sil</button>
            </li>
          </ul>
          <!-- 🔹 Yeni Hizalama Butonu -->
            <button (click)="alignAnswers(i)" [disabled]="region.answers.length < 2">🔄 Şıkları Hizala</button>

            <button  (click)="removeQuestion(i)">❌ Soruyu Sil</button>
             <button (click)="selectQuestion(i)" [disabled]="isExample(region.name)">Şıkları Seç</button>

             <ng-container>
                  <!-- <label for="passageSelect">Passage Seç:</label> -->
                  <select id="passageSelect" class="passage-select" (change)="onPassageChange($event, region.name)">
                    <option value="0" [selected]="!selectedPassageMap.has(region.name)">🔹 Passage Seçiniz</option>
                    <option *ngFor="let passage of passages()" [value]="passage.id" [selected]="selectedPassageMap.get(region.name) === passage.id">
                      Passage {{ passage.id }}
                    </option>
              </select>
            </ng-container>
             
        </li>
      </ul>

      <!-- <ul>
        <li *ngFor="let region of regions(); let i = index">
          <strong>{{ region.name }}</strong>
          <select id="passageSelect" (change)="onPassageChange($event, region.name)">
            <option value="0" [selected]="!selectedPassageMap.has(region.name)">🔹 Passage Seçiniz</option>
            <option *ngFor="let passage of passages()" [value]="passage.id" [selected]="selectedPassageMap.get(region.name) === passage.id">
              Passage {{ passage.id }}
            </option>
          </select>
                
        </li>
      </ul> -->
    </div>
  </div>
  